* {
    box-sizing: border-box;  
}

body {
    font-family: 'HelveticaNeueLTPro-Roman', sans-serif;
}

.app {
    width: 1600px;
    height: 984px;
    border-top: 1px solid #2D557D; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #DDDDDD; 
    border-bottom: 1px solid #DDDDDD; 
    border-left: 1px solid #DDDDDD;
}
