.document__dropArea{
    height: 140px;
    border-bottom: 1px solid #DDDDDD; 
    display: flex;
    flex-direction:column; 
    align-items: center; 
    padding-top:22px;
}

.document__dropArea__drag{
    display: flex;
    align-items: center; 
    justify-content: center;
    width:545px;
    height: 72px;
    border: 4px dotted #7DBBFF;
    border-radius: 4px;
    color:#268EFF;
}

.document__dropArea__drag__sign{
    font-size: 18px;
}

.document__dropArea__drag__sign,
.document__dropArea__drag__text{
    height: 25px;    
    font-size: 17px;
    display: flex;
    align-items: center; 
    font-weight: 700;
}

.document__dropArea__browse{
    padding-top: 5px;
    width: 545px;
    display: flex;
    justify-content:flex-end;
    font-size: 13px;
}

.document__dropArea__browse__text{
    padding-left: 5px;
    color:#268EFF;
}
