.document__search{
    display:flex;
    align-items: center;
    height: 53px;
    border-bottom: 1px solid #DDDDDD; 
}

.document__search__find{
    display:flex;
    align-items: center;
    width:250px;
    flex-grow: 1;
    padding-left: 20px;
    font-size: 17px;
    color:#444444;

}

.document__search__find__text{
    padding-left: 5px;
}

.document__search__select{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    color:#AAAAAA;
}

.document__search__select__text{
    color:#268EFF;
    font-size: 13px;
    width: 65px;
}

.document__search__select__bin{
    color:#AAAAAA;
}