.separatorVertical{
    display: flex;
    justify-content: center;
}
.separatorVertical__line{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1px;
    height: 100%;
    background-color: #EEEEEE;
}