.agenda__footer__options {
    display: flex;
    align-items: center;
    padding-top: 10px;
    width: 345px;
}

#separator0 {
    width: 25px;
}

#separator1{
    width: 42px;
}

#iconReload{
    padding-left: 17px;
}

#iconAddAgendaItem{
    padding-left: 11px;
}

#iconAddDoc{
    padding-left: 13px;
}