.agenda__content__item__input,
.agenda__content__item__input--active {
    height: 65px;
    border-bottom:1px solid #EEEEEE;
    display: flex;
    width:100%;
    align-items: center;
}

.agenda__content__item__input:nth-child(even) {
    background-color: #FFFFFF;
}

.agenda__content__item__input__order,
.agenda__content__item__input__order--active {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:5px;
    color:#444444;
}

.agenda__content__item__input__name {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-top:5px;
    padding-left:5px;
    color:#444444;
}

input.agenda__content__item__input__name {
    border: 0 !important;
    height: 40px;
    background: rgba(0%, 0%, 0%, 0)
}

input.agenda__content__item__input__name::placeholder{
    color:#C1C1C1;
}

.agenda__content__item__input__order__value{
    width:30px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
