.agenda__footer{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.agenda__footer__publish{
    width:140px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.agenda__footer__options{
    padding-right: 10px;
}