.agenda__header{
    height: 120px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border-top:1px solid #2D557C;
    border-right:1px solid #EEEEEE;
    border-bottom:1px solid #EEEEEE;
    border-left:1px solid #EEEEEE;
}