.publish{
    width:120px;
    height: 35px;
    background-color: #268EFF;
    color:#FFFFFF;
    border-radius: 5px;
    font-weight: 800;
    display:flex;
    align-items: center;
    justify-content: center;
}